<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || @loop&.name || "Interview" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:wght@400;500;600;700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "respondent", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="respondent-body">
    <%= render "shared/flashes" %>

    <main class="respondent-page">
      <%= yield %>
    </main>
  </body>
</html>
